<header class="header">
	<div class="container">
		<div class="header__category">
			<a class="tone-colour" href="http://www.theguardian.com/lifeandstyle">life and style</a>
		</div>
		<h1 class="header__title">{{ recipe.name }}</h1>
	</div>
</header>
<section class="info">
	<div class="container">
		<ul class="info__list list-inline">
			<li class="info__list-item"><i class="fa fa-user"></i> 1 person</li>
			<li class="info__list-item"><i class="fa fa-clock-o"></i> 5 mins</li>
			<li class="info__list-item"><i class="fa fa-cutlery"></i> Easy</li>
			<li class="info__list-item"><i class="info__list-item-pound">£</i>1.52</li>
		</ul>
	</div>
</section>

<section class="content container">

<figure>
	<img src="{{ recipe.image }}"/>
</figure>
<p>{{ recipe.description }}</p>

<h2 class="ingredients-head">Ingredients</h2>
<ul class="ingredients">
	<li class="ingredients__item" ng-repeat="i in recipe.ingredients">
		<span class="ingredients__item-measure">{{ i.amountOfThisGood }} {{ i.unit }}</span> {{ i.name }}
	</li>
</ul>

<ol class="instructions list-unstyled">
	<li class="instructions__item clearfix" ng-repeat="step in recipe.recipeInstructions">
		<span class="drop-cap">{{ $index + 1}}.</span>{{ step.description }}
	</li>
</ol>

<button type="button" class="btn btn-default">Cook</button>

<article>
	<div ng-repeat="content in recipe.content">
		<h2 ng-if="content.name">{{ content.name }}</h2>
		<p>{{content.data}}</p>
	</div>
</article>

</section>
