<header class="header">
	<div class="container">
		<div class="row">
			<div class="header__category col-sm-2">
				<a class="tone-colour" href="http://www.theguardian.com/lifeandstyle">life and style</a>
			</div>
			<div class="col-sm-9">
				<h1 class="header__title">{{ recipe.name }}</h1>
			</div>
		</div>
	</div>
</header>
<section class="info">
	<div class="container">
		<div class="row">
			<ul class="info__list col-sm-9 col-sm-offset-2 list-inline">
				<li class="info__list-item"><i class="fa fa-user"></i> {{ recipe.recipeYield }}</li>
				<li class="info__list-item"><i class="fa fa-clock-o"></i> {{ recipe.totalTime }}</li>
				<li class="info__list-item"><i class="fa fa-cutlery"></i> {{ recipe.difficulty }}</li>
				<li class="info__list-item"><i class="info__list-item-pound">£</i>{{ recipe.cost }}</li>
			</ul>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<section class="author col-sm-2">
			<div class="author__img">
				<img class="img-responsive" src="recipe-data/alastair.png"/>
			</div>
			<p class="author__byline">Alastair Jardine</p>
		</section>

		<section class="content col-sm-7">

			<figure>
				<img class="img-responsive" src="{{ recipe.image }}"/>
			</figure>
			<p>{{ recipe.description }}</p>

			<h2 class="ingredients-head">Ingredients</h2>
			<ul class="ingredients">
				<li class="ingredients__item" ng-repeat="i in recipe.ingredients">
					<span class="ingredients__item-measure">{{ i.amountOfThisGood }} {{ i.unit }}</span> {{ i.name }}
				</li>
			</ul>

			<ol class="instructions list-unstyled">
				<li class="instructions__item clearfix" ng-repeat="step in recipe.recipeInstructions">
					<div class="instructions__item-ingredients">
						<ul class="list-unstyled pull-right">
							<li ng-repeat="i in step.ingredients">{{ i }}</li>
						</ul>
					</div>
					<div ng-if="step.description.indexOf('julienne') !== -1">
						<span class="drop-cap">{{ $index + 1}}.</span>
						{{ step.description.substring(0, step.description.indexOf('julienne')) }}
						<a ng-click="showTechnique = !showTechnique">julienne</a>
						{{ step.description.substring(step.description.indexOf('julienne') + 8) }}
						<div class="instructions__technique-wrapper" ng-show="showTechnique">
							<recipe-technique instruction="step"/>
						</div>
					</div>
					<div ng-if="step.description.indexOf('julienne') == -1">
						<span class="drop-cap">{{ $index + 1}}.</span>{{ step.description }}
					</div>
				</li>
			</ol>

			<button type="button" class="btn btn-default">Cook</button>

			<article>
				<div ng-repeat="content in recipe.content">
					<aside class="content-ad pull-right col-xs-6" ng-if="$index == 1">
						<div class="content-ad__title">Enjoy with... Hoptimus Prime</div>
						<img class="img-responsive" src="ads/hoptimus_prime.jpg"/>
						<p>Hoptimus Prime is a light hoppy ale available here</p>
					</aside>
					<h2 ng-if="content.name">{{ content.name }}</h2>
					<p>{{content.data}}</p>
				</div>
			</article>

		</section>

		<section class="col-sm-3">
			<!-- right content -->
		</section>

	</div>
</div>
