
@font-face {
	font-family: EgyptianText;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/EgyptianText-Regular.woff);
}

@font-face {
	font-family: EgyptianText;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/EgyptianText-Medium.woff);
	font-weight: bold;
}

@font-face {
	font-family: EgyptianHeadline;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/EgyptianHeadline-Light.woff);
}

@font-face {
	font-family: EgyptianHeadlineSemi;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/EgyptianHeadline-Semibold-redux.woff);
}


@font-face {
	font-family: AgateSans;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/AgateSans-Regular.woff);
}

@font-face {
	font-family: AgateSans;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/AgateSans-Bold.woff);
	font-weight: bold;
}

html body {
	font-family: EgyptianText;
}

.agate{
	font-family: AgateSans;
	color: #767676;
}

.top-nav {
	border-top: 2px solid #005689;
}

.top-nav__logo-wrapper {
	margin: 1em 0;
	float: right;
	position: relative;
}

.top-nav__logo-wrapper:after {
	content: 'recipe hack';
	position: absolute;
	top: 48px;
	left: 128px;
	font-size: 13px;
}

.drop-cap {
	float: left;
	vertical-align: top;
	color: #951c55;
	font-size: 4rem;
	line-height: 4.2rem;
	padding-right: 20px;
	margin-bottom: 10px;
}

.author__img {
	border-radius: 100%;
	overflow: hidden;
}

.author__byline {
	border-top: 1px dotted #dfdfdf;
	line-height: 2em;
	margin-top: 1em;
	color: #951c55;
	font-weight: bold;
}

.content {
}

.content figure {
	margin: 0 0 0.6em;
}

.header {
	background: #951c55;
	color: #fff;
	padding: 1em 0;
}

.header__title {
	font-weight: normal;
	font-family: EgyptianHeadline;
	margin: 0 0 0.5em;
}

.header__category {
}

.header__category a,
.header__category a:hover {
	color: #fff;
	font-size: 20px;
}

.info {
	background: #b62766;
	padding: 0.5em 0 1em;
	color: #fff;
	font-size: 16px;
	margin-bottom: 1em;
}

.info .info__list {
}

.info__list-item-pound {
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
}

.ingredients-head {
	border-top: #333 dotted 1px;
	padding-top: 0.2em;
	font-family: EgyptianHeadlineSemi;
	font-size: 20px;
}

.ingredients li{
	padding-left: 16px;
	font-family: AgateSans;

}

.ingredients__item-measure {
	font-weight: bold;
}

.instructions {
	margin: 2em 0;
	padding-top: 1em;
	border-top: #333 dotted 1px;
}

.instructions__item {
	position: relative;
	margin-bottom: 2rem;
	line-height: 1.5em;
	padding-left: 60px;
}

.instructions__item .drop-cap {
	margin-left: -60px;
}

.instructions__item-ingredients {
	position: absolute;
	text-align: right;
	width: 140px;
	left: -160px;
}
.instructions__item-ingredients ul {
	border-top: #333 dotted 1px;
	text-transform: lowercase;
}

.instructions__technique {
	background: #951c55;
	font-size: 0.9em;
	padding: 15px;
	color: #fff;
	margin-top: 0.5em;
}

.instructions__technique h5 {
	font-weight: bold;
}

.instructions__technique-wrapper {
  -webkit-transition:all linear 0.2s;
  transition:all linear 0.2s;
  opacity: 1;
  display: block !important;
}

.instructions__technique-wrapper.ng-hide {
  opacity: 0;
  height: 0;
}

article {
	border-top: #333 dotted 1px;
	padding-top: 1em;
	margin: 2em 0;
}

article div:first-child p:first-letter {
	color: #951c55;
	font-size: 6rem;
	float: left;
	vertical-align: top;
	line-height: 6rem;
	padding-right: 5px;
}

.content-ad {

}

.content-ad p {
	color: #666;
	font-size: 12px;
}

.content-ad img {
	border: 1px solid #878787;
	margin: 0.3em 0;
}

.content-ad__title {
	border-top: #333 dotted 1px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.5em;
}

.timer-wrapper {
	margin-top: 880px;
	border-top: #333 dotted 1px;
	padding-top: 5px;
}

.timer-wrapper h4 {
	font-weight: bold;
}

.timer {
	position: relative;
	text-align: center;
	width: 110px;
	height: 110px;
	margin: 0 auto 20px;
}

.timer .percent {
	display: inline-block;
	line-height: 110px;
	z-index: 2;
}

.timer canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.timer__sponsor-text {
	color: #666;
}

.timer__sponsor {
	color: #333;
	display: block;
	text-transform: uppercase;
}
