
@font-face {
	font-family: EgyptianText;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/EgyptianText-Regular.woff);
}

@font-face {
	font-family: EgyptianText;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/EgyptianText-Medium.woff);
	font-weight: bold;
}

@font-face {
	font-family: EgyptianHeadline;
	src: url(https://github.com/guardian/frontend/raw/master/resources/fonts/EgyptianHeadline-Light.woff);
}


html body {
	font-family: EgyptianText;
}

.top-nav {
	border-top: 2px solid #005689;
}

.top-nav__logo-wrapper {
	margin: 1em 0;
	float: right;
	position: relative;
}

.top-nav__logo-wrapper:after {
	content: 'recipe hack';
	position: absolute;
	top: 48px;
	left: 128px;
	font-size: 13px;
}


.drop-cap {
	float: left;
	vertical-align: top;
	color: #951c55;
	font-size: 4rem;
	line-height: 4.2rem;
	padding-right: 20px;
	margin-bottom: 10px;
}

.content {
}

.content figure {
	margin: 1.5em 0;
}

.header {
	background: #951c55;
	color: #fff;
	padding: 1em 0;
}

.header__title {
	font-weight: normal;
	font-family: EgyptianHeadline;
	margin: 0 0 0.5em;
}

.header__category {
}

.header__category a,
.header__category a:hover {
	color: #fff;
	font-size: 20px;
}

.info {
	background: #b62766;
	padding: 0.5em 0 1em;
	color: #fff;
	font-size: 16px;
}

.info .info__list {
}

.info__list-item-pound {
	font-weight: bold;
	font-size: 1.1em;
	font-style: normal;
}

.ingredients-head {
	border-top: #333 dotted 1px;
	padding-top: 0.5em;
}

.ingredients {

}

.ingredients__item-measure {
	font-weight: bold;
}

.instructions {
	margin: 2em 0;
	padding-top: 1em;
	border-top: #333 dotted 1px;
}

.instructions__item {
	position: relative;
	margin-bottom: 2rem;
	line-height: 1.5em;
}

.instructions__item-ingredients {
	position: absolute;
	text-align: right;
	width: 100px;
	left: -120px;
}
.instructions__item-ingredients ul {
	border-top: #333 dotted 1px;
	text-transform: lowercase;
}

article {
	border-top: #333 dotted 1px;
	padding-top: 1em;
	margin: 2em 0;
}
